<style>
    .error{
        color:red;
    }
    .form-group {
        display: inline-flex;
    }
</style>
<div class="modal fade" id="mdlTuDien_AddEdit" aria-labelledby="exampleModalLongTitle">
    <div class="modal-dialog" style="max-width: 1284px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TieuDe"></h5>
            </div>
            <div class="modal-body">
                <input id="id" name="id" type="hidden" value="0" />
                <h5 class="inforTuDien">Thông tin từ điển</h5>
                <div class="col-md-12 no-padding inforTuDien" style="border:1px dashed #f55454; padding:20px; margin-bottom:20px">
                    <div class="col-md-12 form-group no-padding inforTuDien">
                        <div class="col-md-3">
                            <label>Mã từ điển</label><b class="price_ver"> *</b>
                            <input type="text" class="form-control" id="txtMaTuDien" placeholder="Nhập mã từ điển" />
                            <span id="errMaTuDien" class="price_ver"></span>
                        </div>
                        <div class="col-md-9">
                            <label>Tên từ điển</label><b class="price_ver"> *</b>
                            <input type="text" class="form-control" id="txtTenTuDien" placeholder="Nhập tên từ điển" />
                            <span id="errTenTuDien" class="price_ver"></span>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding form-group inforTuDien">
                        <div class="col-md-4">
                            <label>Tác giả</label>
                            <input type="text" class="form-control" id="txtTacGia" placeholder="Nhập tác giả" />
                        </div>
                        <div class="col-md-4">
                            <label>Dịch từ ngôn ngữ</label><b class="price_ver"> *</b>
                            <select class="form-control" id="dllTuNgonNgu">
                                <option value="0">Chọn ngôn ngữ</option>
                            </select>
                            <span id="errNgonNguNguon" class="price_ver"></span>
                        </div>
                        <div class="col-md-4">
                            <label>sang ngôn ngữ</label><b class="price_ver"> *</b>
                            <select class="form-control" id="dllDenNgonNgu">
                                <option value="0">Chọn ngôn ngữ</option>
                            </select>
                            <span id="errNgonNguDich" class="price_ver"></span>
                        </div>
                    </div>
                </div>
                <h5 class="inforTuDien">Thêm từ ngữ vào từ điển</h5>
                <i style="color:#f55454" class="inforTuDien"> <i class="ti-comment-alt"> </i> Lưu ý: Bạn có thể thực hiện thêm các từ ngữ vào trong từ điển bằng cách điền thông tin từ ngữ vào form bên dưới, hoặc sử dụng tính năng thêm từ ngữ tại màn hình danh sách từ điển</i>
                <div class="col-md-12 no-padding" style="border:1px dashed #f55454; padding:20px; margin-top:10px">
                    <div class="col-md-12 no-padding">
                        <input type="hidden" id="txtIDTuNgu" value="0" />
                        <div class="col-md-12">
                            <label>Nội dung từ <i>(Từ ngữ gốc theo ngôn ngữ nguồn)</i></label><b class="price_ver"> *</b>
                            <input type="text" class="form-control" id="txtNoiDungTu" placeholder="Nhập nội dung từ" />
                            <span id="errNoiDungTu" class="price_ver"></span>
                        </div>
                        <div class="col-md-12">
                            <label>Nghĩa của từ</label><b class="price_ver"> *</b>
                            <textarea type="text" rows="3" class="form-control" name="ckeditor_nghiacuatu" id="txtNghiaCuaTu"></textarea>
                            <span id="errNghiaCuaTu" class="price_ver"></span>
                        </div>
                        <div class="col-md-12 form-group no-padding">
                            <div class="col-md-6">
                                <label>Từ đồng nghĩa</label>
                                <textarea type="text" rows="3" class="form-control" name="ckeditor_tudongnghia" id="txtTuDongNghia"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label>Từ trái nghĩa</label>
                                <textarea type="text" rows="3" class="form-control" name="ckeditor_tutrainghia" id="txtTuTraiNghia"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Thành ngữ</label>
                            <textarea type="text" rows="3" class="form-control" name="ckeditor_thanhngu" id="txtThanhNgu"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label>Ví dụ</label>
                            <textarea type="text" rows="3" class="form-control" name="ckeditor_vidu" id="txtViDu"></textarea>
                        </div>
                        <div class="col-md-12 form-group no-padding">
                            <div class="col-md-6">
                                <label>Các cụm đồng từ</label>
                                <textarea type="text" rows="3" class="form-control" name="ckeditor_cumdongtu" id="txtCacCumDongTu"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label>Từ liên quan</label>
                                <textarea type="text" rows="3" class="form-control" name="ckeditor_tulienquan" id="txtTuLienQuan"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding" style="padding: 20px;">
                            <button class="btn btn-secondary" id="btnLamMoi"><i class="ti-reload"></i> <span> Làm mới</span></button>
                            <button class="btn btn-primary" id="btnThemVaoTuDien" onclick="ThemTuNgu_MangTam()">
                                <i class="ti-pencil-alt"></i>
                                <span> Lưu tạm thời</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding" style="background: #706c6c; height: 500px; overflow: auto; padding: 20px;">
                        <table class="table table-hover table-bordered" style="background:#fff">
                            <thead>
                                <tr>
                                    <th class="center" style="width:30%">Nội dung từ</th>
                                    <th class="center colHiden">Ngữ nghĩa</th>
                                    <th class="center" style="width:18%">Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody id="bodyTuNgu">
                                <tr>
                                    <td class="left">Nội dung từ</td>
                                    <td class="left colHiden">Ngữ nghĩa</td>
                                    <td class="center">Tác vụ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12 no-padding form-group" style="margin-top:20px">
                        <button class="btn btn-primary" type="button" id="btnLuuThayDoi" onclick="Save()">
                            <i class="ti-save"> </i> <span> Lưu vào CSDL</span>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                            <i class="ti-close"> </i> <span> Hủy bỏ</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
