
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageDetail.cshtml";
}


<!-- ============================ Page Title Start================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title">Quản lý tài khoản</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý tài khoản</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Add To cart ================================== -->
<section class="pt-0">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Nút tác vụ -->
                <div class="checkout_coupon checkout">
                    <div class="ckt_last">
                        <form class="form-inline">
                            <button type="button" class="btn btn-secondary" style="margin-right:10px" onclick="ShowModalAddEdit()">Thêm mới</button>
                            <button type="button" class="btn btn-primary">Xóa bỏ</button>
                        </form>
                    </div>
                    <div class="checkout_coupon_flex">
                        <div class="input-group" style="width:60%; float:right">
                            <input type="text" class="form-control" placeholder="Từ khóa tìm kiếm">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"><img src="~/Content/img/search.svg" class="search-icon" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tblNguoiDung">
                    @Html.Action("GetListData", "NguoiDung")
                </div>

            </div>
        </div>

    </div>
</section>
<!-- ============================ Add To cart End ================================== -->
<!-- Modal cập nhật người dùng -->
@Html.Partial("~/Views/NguoiDung/Modal_AddEdit.cshtml")
@section scripts
    {
    <script src="~/Content/JsCustom/NguoiDung.js"></script>
}


