
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Views/Shared/_LayoutPageDetail.cshtml";
}

<!-- ============================ Page Title Start================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title">Quản lý người dùng</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý người dùng</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Danh sách người dùng ================================== -->
<section class="pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Nút tác vụ -->
                <div class="checkout_coupon checkout" style="margin-bottom:20px">
                    <div class="ckt_last btnThemMoi">
                        <form class="form-inline">
                            <button type="button" class="btn btn-secondary" style="margin-right:10px" id="btnAddNew" onclick="ShowModalAddEdit()">
                            <i class="fa fa-plus" aria-hidden="true" title="Thêm mới người dùng"></i> <span>Thêm mới</span></button>
                        </form>
                    </div>
                    <div class="checkout_coupon_flex btnSearch">
                        <div class="input-group" style="width:60%; float:right">
                            <input type="text" id="txtSearch" class="form-control" placeholder="Từ khóa tìm kiếm" onkeyup="Search()">
                            <div class="input-group-append iconSearch">
                                <button class="btn btn-outline-secondary" type="button" onclick="Search()"><img src="~/Content/img/search.svg" class="search-icon" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tblNguoiDung">
                    @Html.Action("GetListData", "NguoiDung")
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Danh sách người dùng End ================================== -->
<!-- Modal cập nhật người dùng -->
@Html.Partial("~/Views/NguoiDung/Modal_AddEdit.cshtml")
<!-- Modal xóa -->
@Html.Partial("~/Views/Shared/HoiXacNhan_Modal.cshtml")
<!-- Modal thông báo -->
@Html.Partial("~/Views/Shared/ThongBao_Modal.cshtml")

@section scripts
    {
    <script src="~/Content/JsCustom/NguoiDung.js"></script>
}


