
<div class="modal fade" id="mdlNguoiDung_AddEdit" aria-labelledby="exampleModalLongTitle">
    <div class="modal-dialog">
        <div class="modal-content" style="width:700px; padding:20px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông tin người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="txtMaHoSo">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="txtTenDangNhap">
                            <input type="hidden" class="form-control" id="txtID">
                        </div>
                        <div class="form-group col-md-9">
                            <label for="txtTieuDe">Mật khẩu</label>
                            <input type="text" class="form-control" id="txtMatKhau">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="txtThoiHanBaoQuan">Họ tên</label>
                            <input type="text" class="form-control" id="txtHoTen">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtThoiHanBaoQuan">Email</label>
                            <input type="text" class="form-control" id="txtEmail">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtNgonNgu">Số điện thoại</label>
                            <input type="text" class="form-control" id="txtSoDienThoai">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtChuGiai">Địa chỉ</label>
                        <input type="text" class="form-control" id="txtDiaChi">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-close"></i> Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveDoc()"><i class="ti-save"></i> Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>
