 <!-- Log In Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
        <div class="modal-content" id="registermodal">
            <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
            <div class="modal-body">
                <h4 class="modal-header-title">Đăng Nhập</h4>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <input type="text" class="form-control" placeholder="Tên đăng nhập" id="txtTenDangNhap" onkeyup="ResetError()">
                        </div>

                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input type="password" class="form-control" placeholder="*******" id="txtMatKhau" onkeyup="ResetError()">
                        </div>
                        <div class="form-group" id="errDangNhap" style="display:none">
                            <span class="price_ver"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-md full-width pop-login" onclick="DangNhap()">Đăng nhập</button>
                        </div>
                    </form>
                </div>

                <div class="social-login mb-3">
                    <ul>
                        <li>
                            <input id="reg" class="checkbox-custom" name="reg" type="checkbox">
                            <label for="reg" class="checkbox-custom-label">Lưu mật khẩu</label>
                        </li>
                        <li><a href="#" class="theme-cl">Quên mật khẩu?</a></li>
                    </ul>
                </div>

                <div class="text-center">
                    <p class="mt-2">Bạn đã có tài khoản đăng nhập? <a href="register.html" class="link">Đăng nhập ngay</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!--JS xử lý form đăng nhập-->
<script src="~/Content/JsCustom/DangNhap.js"></script>
