
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero_banner" style="background:#003783;" data-overlay="0">
    <div class="container">
        <!-- Type -->
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="banner-search-2 transparent">
                    <h1 class="big-header-capt cl_2 mb-2">Phần mềm tra cứu từ điển Online</h1>
                    <p>Cung cấp cho người dùng tiện ích nhanh nhất, bổ ích nhất trong quá trình học tập và làm việc</p>
                    <div class="mt-4">
                        <div class="banner-search shadow_high">
                            <div class="search_hero_wrapping">
                                <div class="row">

                                    <div class="col-lg-10 col-md-10 col-sm-12">
                                        <div class="form-group">
                                            <div class="input-with-icon">
                                                <input id="txtKeyWord" type="text" class="form-control" placeholder="Nhập từ ngữ cần tra cứu">
                                                <img src="~/Content/img/search.svg" class="search-icon" alt="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-12 pl-0">
                                        <div class="form-group none">
                                            <a href="#" class="btn search-btn full-width" onclick="TraCuu()">Tìm</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="flixio pt-5">
                    <img class="img-fluid" src="~/Content/img/edu_2.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!--Danh sách các từ trong các cuốn từ điển khác nhau-->
<div id="lstDetail" hidden>
</div>
<!--JS xử lý các hàm của trang chủ-->
@section scripts {
    <script src="~/Content/JsCustom/TrangChu.js"></script>
}